h1{
	color:white;
	text-transform:uppercase;
}
.form{	
	margin-top: 5%;
	margin-bottom: 50%;
}
#courses {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
  align-self: center;
  margin:auto;
}

#courses td, #courses th {
  border: 1px solid #000000;
  padding: 8px;
}
#courses caption
{
	color:white;
	font-size:25px;
	text-transform:uppercase;
}

#courses th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #9e050a;
  color: white;
}